*{
    margin: 0;
    padding: 0;
}
.navbar{
    width: 100%;
    height: 60px;
    background-color: #131921;
    display: flex;
    justify-content: space-between;
}

/* ----------LOGO------------ */
.nav_logo{
    margin: 0px 0px 1px 11px;
    height: 50px;
    width: 100px;
    background-color: red;
    background-image: url("./Assets/AmazonLogo.png");
    background-size: cover;
    background-color: #131921;
}

.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}

/* ---------------Location----------------------- */
.location{
    height: 50px;
    width: 88px;
    color: white;
    display: flex;
    justify-content: center;
}
.location_box1{
    margin: 21px 3px 0px 5px ;
    height: 18px;
    width: 11px;
}
.location_box2{
    margin: 8px 0px 0px 3px ;
}

.text1{
    color: #ccc;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
}
.text2{
    color: #fff;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
/* ---------------Search Bar -------------------------------- */
.searchBar {
    display: flex;
    margin: 10px;
}

.searchBar select {
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    background-color: #b2b0b0;
    color: #5b697a;
    width: 50px;
    height: 40px;
    display: flex;
    padding: 5px;
}
.searchBar select:hover {
    color: #13161a;
    
}
.searchBar input {
    /* background: #000; */
    width: 35vw;    
    padding: 10px;
}

.searchIcon{
    width: 50px;
    height: 40px;
    background-color: #fba82b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}
.searchIcon:hover{
    background-color: #f58e11;
}

/* --------------------Languages-------------------- */

.language{
    color: #ffffff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flag{
    width: 20px;
    height: 15px;
    margin-right: 2px;
    background-image: url("/Assets/usa.jpg");
    background-size: cover;
}
.lang{
    background-color: #13161a;
    color: white;
    font-weight: bold;
    border: none;
}

/* ---------------------------Account------------------------ */
.acount{
    display: flex;
    height: 50px;
    margin-left: 2px;
    padding: 0 10px 0px 10px;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
.text3{
    font-size: 12px;
    padding-left: 3px;
}
.text4{
    font-size: 14px;
    font-weight: bold;
}

/* ------------------Order---------------- */
.order{
    display: flex;
    height: 50px;
    margin-left: 2px;
    padding: 0 10px 0px 10px;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}


/* ----------------------Cart---------------- */

.cart{
    display: flex;
    height: 50px;
    margin-left: 2px;
    margin-right: 5px;
    padding: 0 10px 0px 10px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
.cart_icon i{
    /* background-color: #ffffff; */
    /* width: 40px;
    height: 25px; */
    font-size: 1.75rem;
}

/* -------------------pannel---------------- */
.pannel{
    height: 39px;
    background-color: #232f3e;
}
